<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>

    <!-- NAV BAR, THIS CAN BE MADE MODULAR IN THE FUTURE -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="company-logo">
            <a href="/" class="navbar-brand">Wiki-Maps <i class="fas fa-map-marker-alt"></i></a>
          </div>
        </div>
        <!-- This collapses to hamburger -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="#map-list">Maps</a> </li>
          <!-- THIS CAN REDIRECT TO LOGIN IF USER IS NOT SIGNED IN -->
          <% if (username) {%>
            <li>
              <a href="/newmap">Create a Map</a>
            </li>
          </button>
          <% } %>
          <!-- Button trigger modal -->
          <% if (username) {%>
          <li> <a href="/profile">Hello, <%=username %></a> </li>
          <li>
            <form action='/logout' method='POST'>
              <button id='username' class="btn btn-default navbar-btn">LOGOUT</button>
            </form>
          </li>
          <% } else {%>
          <button type="button" id="sign-in-button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login-modal">
            Sign in
          </button>
          <% } %>
        </ul>
        </div>
      </div>
    </nav>

    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  	  <div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header" align="center">
            <i class="fas fa-map"></i>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    				  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    				</button>
    			</div>

          <!-- Begin # DIV Form -->
          <div id="div-forms">

          <!-- Begin # Login Form -->
            <form id="login-form" action='/login' method='POST'>
            <div class="modal-body">
	    		    <div id="div-login-msg">
                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                <span id="text-login-msg">Type your username and password.</span>
              </div>

			    		<input id="login_username" class="form-control" type="text" placeholder="Username" required name='email'>
			    		<input id="login_password" class="form-control" type="password" placeholder="Password" required name='password'>
              <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
              </div>
      		    	</div>
			        <div class="modal-footer">
                <div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </div>
			        </div>
            </form>
            <!-- End # Login Form -->
          </div>
              <!-- End # DIV Form -->
    		</div>
    	</div>
    </div>
  <!-- END # MODAL LOGIN -->

  </body>
</html>
