<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Add New Map</title>

    <!-- BOOTSTRAP CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JQUERY CDN -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- BOOTSRAP JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- SCROLL JS -->
    <script type="text/javascript" src="/scripts/scroll.js"></script>
    <!-- APP JS -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/add_new_map.js"></script>
    <!-- LAYOUT CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/add_new_map.css" type="text/css" />
    <!-- NAVBAR CSS -->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <!-- LOGIN CSS -->
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <!-- MAPLIST CSS -->
    <link rel="stylesheet" href="/styles/maplist.css" type="text/css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i" rel="stylesheet">

  </head>
  <body>
    <% include partials/_navbar.ejs %>
    <h1>Create New Map</h1>

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info">
              <div class="panel-body">
                Let's get you started!
              </div>
              <div class="panel-footer">
                <p><i class="far fa-arrow-alt-circle-right"></i> Make sure to fill all the information in the form. After you fill all the information, we will get you started with adding point of interests.</p>
                <p><i class="far fa-arrow-alt-circle-right"></i> Add a title for your map</p>
                <p><i class="far fa-arrow-alt-circle-right"></i> Now tell us more about this map</p>
                <p><i class="far fa-arrow-alt-circle-right"></i> Let's add a image link so that your map looks bettter</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <form id='new-map-form' action='/newmap' method='POST'>
              <div class="form-group">
                <label for="mapTitle">Title</label>
                <input type="text" class="form-control" placeholder="mapTitle" name='title'>
              </div>
              <div class="form-group">
                <label for="mapDescription">Description</label>
                <textarea class="form-control" rows="3" placeholder="Tell us about this map" name='description'></textarea>
              </div>

              <div class="form-group">
                <label for="image">Image</label>
                <input id='image' type="text" class="form-control" placeholder="image link" name='image'>
              </div>

              <button type="submit" class="btn btn-default">Create</button>
              
            </form>
          </div>
        </div>
      </div>

  </body>
</html>
